/* General Styles */
body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
    margin-bottom: 16px;
  }
  
  .search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 150px 150px 230px;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 950px; 
  }
  
  .search-form .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .search-form label {
    color: #333;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .search-form input[type="text"] {
    padding: 8px;
    border: 2px solid #ccc;
    &:focus {
      border-color: #007bff;
    }
  }
  
  .search-form button[type="submit"] {
    /* Width is already specified to be 150px via grid-template-columns */
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0056b3;
    color: white;
    border-radius: 8px;
    transition: background-color 0.2s;
    &:hover {
      background-color: #004494;
    }
  }
/* Style adjustments for segmented control appearance */
.status-button-group {
  display: inline-flex;
  border: 2px solid #0056b3; 
  border-radius: 8px;
  overflow: hidden; /* Ensures the border-radius applies to children */
}

.status-button-group label {
  background-color: #0056b3;
  color: white;
  padding: 10px 15px;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.status-button-group label:hover {
  background-color: #004494;
}

.status-button-group input[type="radio"] {
  display: none;
}

.status-button-group input[type="radio"]:checked + label {
  background-color: #020e1d; 
}

.status-button-group label:first-child {
  border-radius: 6px 0 0 6px;
}

.status-button-group label:last-child {
  border-radius: 0 6px 6px 0;
}

  
  /* Table Styling */
  table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 32px;
  }

  .disabled-user {
    opacity: 0.5;
    background-color: #f0f0f0; 
  }
  
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
  }
  
  th {
    background-color: #f8f8f8;
  }
  
  td {
    &:nth-child(1) { width: 200px; } /* Name column */
    &:nth-child(2) { width: 200px; } /* Role column */
    &:nth-child(3) { width: 100px; } /* Enabled column */
    &:nth-child(4) { width: 160px; } /* Actions column, adjust based on your needs */
  }
  
  /* Form Inputs within Table */
  input[type="text"], input[type="checkbox"] {
    width: calc(100% - 16px); 
    padding: 4px;
    margin: 4px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem; 
  
    &:focus {
      border-color: #007bff;
    }
  }
  
  /* Button Styling */
  button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 4px;
  
    &:hover {
      opacity: 0.8;
    }
  
    &[disabled] {
      background-color: #ccc;
      cursor: not-allowed;
    }
  
    &.edit-btn, &.delete-btn, &.save-btn, &.cancel-btn {
      min-width: 75px; 
    }
  
    &.edit-btn {
      background-color: #ffc107;
      &:hover {
        background-color: #e0a800;
      }
    }
  
    &.delete-btn {
      background-color: #dc3545;
      &:hover {
        background-color: #c82333;
      }
    }
  
    &.save-btn {
      background-color: #28a745;
      &:hover {
        background-color: #218838;
      }
    }
  
    &.cancel-btn {
      background-color: #6c757d;
      &:hover {
        background-color: #5a6268;
      }
    }
  }
  
@media (max-width: 768px) {
  .search-form {
    grid-template-columns: 1fr; 
    padding: 8px; 
  }

  .search-form button[type="submit"] {
    grid-column: span 1;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}